body {
  background-image: url(https://1.bp.blogspot.com/-bdQFFCaIw7Q/YKOHhZ-wuTI/AAAAAAAAFOM/iNeIOcN0HIgRDArugIRLONO0ngO99zSkgCLcBGAsYHQ/s1280/anime%2Btelevision%2Bestanteriaotaku%2Bcomunidad%2Bumbria.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}